.profile{
    flex: 0.4;
    min-width: fit-content;
    border-right: 2px solid antiquewhite;
    overflow-y: scroll;
}

.profile-header{
    display: flex;
    padding: 15px;
}



.post-num{
    color: antiquewhite;
}

.back-icon{
    color: antiquewhite;
    cursor: pointer;
}



.user-info{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.user-info >h1{
    color: antiquewhite;
    font-size: 15px;
}
.coverimg-container{
    display: flex;
    flex: 0.4;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.coverimg-edit{
    color: aliceblue;
    width: 50px;
    height: 40px;
    cursor: pointer;
}

.coverimg-edit:hover{
    color: gold;
}



.coverimg{
    width: 100%;
    height: 150px;
    cursor: pointer;
}

.coverimg-close{
    color: antiquewhite;
    width: 60px;
    height: 50px;
    cursor: pointer;
}

.coverimg-close:hover{
    color: red;
}





.user-profile{
    display: flex;
    align-items: center;
}


.imgselection-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-img{
    width: 80px;
    height: 70px;
    margin-left: 15px;
    cursor: pointer;
}

.imgclose{
    width: 40px;
    height: 30px;
    color: red;
    cursor: pointer;
}





.update-btn{
    background-color: black;
    width: 80px;
    height: 20px;
    border-radius: 15px; 
    color: aliceblue;
    margin-left: auto;
    cursor: pointer;
}

.update-btn:hover{
    background-color:chartreuse;
    color: black;
}

.update-error{
    color: red;
}

.editprofile-btn{
    background-color: black;
    width: 80px;
    height: 20px;
    border-radius: 15px;
    color: aliceblue;
    margin-left: auto;
    cursor: pointer;
}

.editprofile-btn:hover{
    background-color: aqua;
    color: black;
}



.user-details{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}



.user-details >h1{
    color: antiquewhite;
}

.user-details >p{
    color: antiquewhite;
}

.user-email{
    color: antiquewhite;
}

.bio{
    padding-left: 5px;
}

.following{
    display: flex;
    align-items: center;
    gap: 10px;
}

.following >p{
    color: gold;
}


.followers{
    display: flex;
    align-items: center;
    gap: 10px;
}

.followers >p{
    color: gold;
}


.user-followers{
    display: flex;
    align-items: center;
    margin-top: 25px;
    padding-left: 5px;
    gap: 15px;
}


.active{
    border-bottom: 2px solid gold;
    padding-bottom: 5px;
    color: aqua;
}

.user-error{
    color: red;
}

.nouser-error{
    color: red;
}

.options{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    color: antiquewhite;
    padding-top: 15px;
    border-bottom: 2px solid antiquewhite; 
}

.options >li{
    cursor: pointer;
}


