.ncontainer{
    display: flex;
    border-bottom: 2px solid antiquewhite;
    padding: 15px;
}

.notif-description{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.notif-description >img{
    width: 30px;
    height: 20px;
    border-radius: 20px;
}

.notif-icon{
    color: red;
}

.follow-icon{
    color: greenyellow;
}

.notif-message{
    color: antiquewhite;
}

.notif-msg{
    color: gold;
}

.notif-post-msg{
    color: aqua;
}

.post-user-details{
    display: flex;
    align-items: center;
}

.notif-pic{
    width: 40px;
    height: 40px;
}


.delete-icon{
    color: antiquewhite;
    margin-left: auto;
    cursor: pointer;
}