.home {
  width: 100%;
}

.home-header {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #333;
  position: sticky;
  top: 0;
  background: black;
  z-index: 10;
}

.home-header p {
  padding: 15px;
  cursor: pointer;
}

.active {
  border-bottom: 3px solid #1d9bf0;
  font-weight: bold;
}