.messageusers{
    display: flex;
    align-items: center;
    gap: 10px;
}


.messageusers >h1{
    color: antiquewhite;
    font-weight: 500px;
    font-size: 15px;
    cursor: pointer;
}


.messageusers >img{
    width: 30px;
    height: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.selected{
    background-color: aqua;
}

.online-dot {
  position: absolute;
  bottom: 2px;
  right: 2px;
  width: 10px;
  height: 10px;
  background-color: #22c55e;
  border-radius: 999px;
  border: 2px solid black;
}